.container{
  margin: 0;
  padding: 0;
}

.header-container{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.footer-container {
  display: flex;
  height: 50px;
  align-items: right;
  justify-content: right;
  text-align: right;
  margin: 500px 0 0 0;
}

.btn-footer{
  width: 300px;
  height: 50px;
  align-items: center;
  text-align: center;
  cursor:pointer;
  background-color: #5f7c8a;
  color: white;
  border: 0;
  border-radius: 25px;
  transition: 1s;
  margin: 0 50px  0 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #104b68;
}

h1 {
  text-align: center;
  color: #ddecf3;
  font-family: Arial, Helvetica, sans-serif;
}


a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
}

form{
  background-color: white;
  border-radius: 20px;
  max-width: 500px;
  width: 60%;
  height: 50%;
  padding: 30px;
  position: absolute;
  left: 30%;
  top: 45%;
  transform: translate(-50%, -50%);
}

form h2{
  text-align: center;
  color: #364a53;
  font-family: Arial, Helvetica, sans-serif;
}

form input[type=number],
[type=text]{
  display: flex;
  width: 100%;
  height: 45px;
  border: 1px solid rgb(114, 109, 109);
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px 0;
}

Button {
  width: 300px;
  height: 50px;
  align-items: center;
  text-align: center;
  cursor:pointer;
  background-color: #5f7c8a;
  color: white;
  border: 0;
  border-radius: 25px;
  transition: 1s;
  margin: 0 50px  0 60px;
}

form input .btn-footer{
  width: 100%;
  height: 40px;
  cursor:pointer;
  background-color: #5f7c8a;
  color: white;
  border: 0;
  border-radius: 25px;
  transition: 1s;
  margin-top: 15px;
}

form input[type=submit]:hover{
  background-color: #4a5f6a;
}

form input[type=submit]:hover{
  background-color: #4a5f6a;
}
