.container{
  margin: 2%;
  padding: 0;
}

.container-header{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.container-body {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 300px 0 200px;
  width: 70rem;
  height: 300px;
}

.body {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 300px;
  transition: all 0.3s ease-out;
}

.button {
  margin: 2%;
  width: 200px;
  height: 50px;
  cursor:pointer;
  background-color: #5f7c8a;
  border-radius: 15px;
  transition: 1s;
  display: block;
  text-align: center;
  float: right;
}

.footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0 50px 50px;
}

.footer h2 {
  margin:  0 0 0px;
  padding-left: 250px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #104b68;
}


h2 {
  text-align: center;
  color: #ddecf3;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
}

.imagem1 {
  height: 220px;
  padding: 0 0 20px 5px
}

.imagem2 {
  height: 220px;
  width: 220px;
  padding: 0 0 20px 5px
}

.imagem3 {
  height: 220px;
  padding: 0 0 20px 5px
}